    <main>
        <figure class="notice_ban">
            <h2>NOTICE</h2>
        </figure>
        <nav class="notice_nav">
            <ul>
                <li class="noti_gray tablinks" id="ALL">
                    <span class="all_ico"></span>
                    <p class="grayfont fontAll">ALL</p>
                </li>
                <li id="AMENITIES">
                    <span class="ame_ico" ></span>
                    <p class="grayfont fontAmenities">AMENITIES</p>
                </li>
                <li id="SERVICE">
                    <span class="ser_ico"></span>
                    <p class="grayfont fontService">SERVICE</p>
                </li>
                <li id="MEETING">
                    <span class="mee_ico"></span>
                    <p class="grayfont fontMeeting">MEETING</p>
                </li>
                <li id="ROOMS">
                    <span class="roo_ico"></span>
                    <p class="grayfont fontRooms">ROOMS</p>
                </li>   
                <li id="DINING">
                    <span class="din_ico"></span>
                    <p class="grayfont fontDining">DINING</p>
                </li>
                <li id="EVENT">
                    <span class="eve_ico"></span>
                    <p class="grayfont fontEvent">EVENT</p>
                </li>
                <li id="PARKIING">
                    <span class="par_ico"></span>
                    <p class="grayfont fontParking">PARKIING</p>
                </li>
                <span class="noti_graybar"></span>
            </ul>
            <span>
                <input type="text" placeholder="검색">
                <span class="serch_ico"><a href=""></a></span>
            </span>
        </nav>
        <section class="notice_deta">
            <article class="notice_deta_top">
                <h4 style="width: 15%;">SERVICE</h4>   
                <h4 style="width: 85%;">
                    호텔 운영 정보 안내 / 신종 코로나바이러스(코로나19)에 대한 힐튼의 대응
                </h4>   
                <div>
                    <span></span>
                    <span></span>
                </div>   
            </article>
            <article class="notice_deta_body">
                <p>
                    ▶ 카페 395: 매일 06:30 - 22:00
                    <br><br>
                    ▶ 오크룸: 화-금 11:30 - 24:00 / 토요일 17:30 - 24:00
                    <br><br>
                    ▶ 실란트로 델리: 매일 08:00 - 22:00
                    <br><br>
                    ▶ Bistro 50 (구 일폰테): 매일 11:30 - 14:30 / 18:00 - 22:00 
                    <br><br>
                    ▶ 구상노사카바 (구 겐지): 화-토 11:30 - 14:30 / 18:00 - 22:00
                    <br><br>
                    ▶ 이그제큐티브 라운지: 매일 14:00 - 21:00 (16:00 이후, 14세 이상 투숙객 이용 가능)
                    <br><br>
                    ▶ 패밀리 라운지: 매일 11:00 - 18:00 / 컨시어지 데스크 보드게임 대여 가능
                    <br><br>
                    ▶ 이그제큐티브 헬스클럽: 헬스클럽, 수영장 월-토 06:00-22:00 / 일, 공휴일 07:00-22:00 운영
                    <br><br>
                    ▶ 발레파킹 서비스: 매일 운영
                    <br><br>
                    ▶ 겐지, 타이판: 2020년 3월 18일부터 운영 중단
                    <br><br>
                    ▶ 공항 리무진 버스: 2020년 3월 25일부터 KAL 리무진 버스 6702번 운행 중단
                    <br><br>
                    ▶ 반려동물 동반 객실: VIP패키지 이용객이 아닌 일반 투숙객의 경우, 반려동물 전용 객실에 한해서 7만원 추가 요금 지불할 시 반려동물 동반 투숙 가능합니다. 단, 예약 시 반려동물 동반인 점 미리 말씀주시기 바랍니다.
                    <br><br><br>
                    상기 내용은 일시적으로 진행될 예정이므로 업장 이용 시 참고해주시기 바랍니다.
                </p>
            </article>
            <span class="notice_deta_bottom"><a href="">
                <p>목록</p>
            </a></span>
        </section>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
        </script>
        <script src="../js/noticeDetail.js"></script>